<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202259391088-qkgkhqfjl8g9t8hucvrqdn8of30i5dp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202259391088-qkgkhqfjl8g9t8hucvrqdn8of30i5dp1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>202259391088-cqv767pbamkv1sp4i4tvmteki2ieeteu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoSwb4beyj7Ylztg66W9OyPec-fPVvHFA</string>
	<key>GCM_SENDER_ID</key>
	<string>202259391088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.baeseFlutterBloc</string>
	<key>PROJECT_ID</key>
	<string>baseflutterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>baseflutterapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202259391088:ios:340a37fedfe62d76c7cab5</string>
</dict>
</plist>